{% extends 'final/index.html' %}
<!--
    ============================================================================================================
                                                CONTAINS ARRANGEMENT OF DIVS
    ============================================================================================================
-->


{% block content %}
<div id="body" >

    <div class="HEADBOX"> grid test 1</div>

    <div class="comment" >
    <!--
        ============================================================================================================
                                                HEAD NAV BAR DIV
        ============================================================================================================
    -->

    <!--
        ============================================================================================================
                                                LEFT DIV
        ============================================================================================================
    -->
    </div>


<div class="MAINBOX">

    <div class="LEFTBOX">
        {% include 'final/left.html' %}
    </div>

    <div class="comment" >
    <!--
        ============================================================================================================
                                                    MAIN DIV
        ============================================================================================================   
    -->
    </div>

    <div class="RIGHTBOX">
        {% include 'final/centre.html' %}
    </div>

</div>

<div class="comment" >
<!--
    ============================================================================================================
                                                FOOT DIV
    ============================================================================================================
-->
</div>
{% endblock content %}

</div>
