.container
  %ul
    %li
      %a.animated-arrow{:href => "https://google.com"}
        %span.the-arrow.-left
          %span.shaft
        %span.main
          %span.text
            Explore More
          %span.the-arrow.-right
            %span.shaft