{% extends 'fun/index.html' %}
<!--
    ============================================================================================================
                                                CONTAINS ARRANGEMENT OF DIVS
    ============================================================================================================
-->


{% block content %}
<div id="body"  style="padding: 20px;">

<!--
    ============================================================================================================
                                                HEAD NAV BAR DIV
    ============================================================================================================
-->


<!--
    ============================================================================================================
                                                BODY DIV: CONTAINS LEFT AND RIGHT
    ============================================================================================================
-->

<!--
    ============================================================================================================
                                                LEFT DIV
    ============================================================================================================
-->
<div class="row" style="padding: 20px;">
    <div class="col-md-3" style="border: solid maroon 4px;">
{% include 'fun/left_bar.html' %}
    </div>
<!--
    ============================================================================================================
                                                RIGHT DIV
    ============================================================================================================
-->
    <div class="col"  style="padding: 20px;">
{% block body1 %}
{% endblock body1 %}
</div>
</div>
</div>
{% endblock content %}