<!--                                    complete centre file 
    ===================================================================================================
    ===================================================================================================
                                            NO CONTENT
    ====================================================================================================
-->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<!--
    ====================================================================================================
    SPACE FOR LOADING CSS AND JS FILES
    ====================================================================================================
-->
<link rel="stylesheet" href="{% static 'lec/main_css.css' %}" >
<link rel="stylesheet" href="{% static 'css/arrang.css' %}">
<script src="{% static 'js/button.js' %}"></script>
<script src="{% static 'js/script_1.js'  %}" ></script>
</head>
<body>
<!--
    ====================================================================================================
    NAV BAR SPACE
    ====================================================================================================
-->

<!--
    ====================================================================================================
    MAIN CONTENT SPACE
    ====================================================================================================
-->

{% block content %}
{% endblock %}
</body>
</html>